In [2]:
import pandas as pd
df_human = pd.read_parquet('data/liana_humanconsensus_db.parquet')
df_mouse = pd.read_parquet('data/liana_mouseconsensus_db.parquet')
df_human['species'] = "Homo sapiens"
df_mouse['species'] = "Mus musculus"
df = pd.concat([df_human, df_mouse], ignore_index=True)
df

,source,target,source_genesymbol,target_genesymbol,resource,species
0,O00182,P08575,LGALS9,PTPRC,consensus,Homo sapiens
1,O00182,P08581,LGALS9,MET,consensus,Homo sapiens
2,O00182,P16070,LGALS9,CD44,consensus,Homo sapiens
3,O00182,Q07954,LGALS9,LRP1,consensus,Homo sapiens
4,O00182,Q08722,LGALS9,CD47,consensus,Homo sapiens
...,...,...,...,...,...,...
8694,P01009,Q07954,Serpina1a,Lrp1,mouseconsensus,Mus musculus
8695,P01009,Q07954,Serpina1b,Lrp1,mouseconsensus,Mus musculus
8696,P01009,Q07954,Serpina1c,Lrp1,mouseconsensus,Mus musculus
8697,P01009,Q07954,Serpina1d,Lrp1,mouseconsensus,Mus musculus
8698,P01009,Q07954,Serpina1e,Lrp1,mouseconsensus,Mus musculus

In [4]:
collapsed = (
    df.groupby(["source", "target"])["species"]
      .apply(lambda x: sorted(set(x)))   # deduplicate + sort
      .reset_index()
)
collapsed[collapsed['source'] == 'O00182'].head()

    source  target         species
46  O00182  P08575  [Homo sapiens]
47  O00182  P08581  [Homo sapiens]
48  O00182  P16070  [Homo sapiens]
49  O00182  Q07954  [Homo sapiens]
50  O00182  Q08722  [Homo sapiens]

In [5]:
collapsed['species']
collapsed[collapsed["species"].apply(lambda x: "Mus musculus" in x)].head()

   source                 target                       species
0  A6NMZ7  COMPLEX:O75578_P05556  [Homo sapiens, Mus musculus]
1  A6NMZ7  COMPLEX:P05556_P17301  [Homo sapiens, Mus musculus]
2  A6NMZ7  COMPLEX:P05556_P26006  [Homo sapiens, Mus musculus]
3  A6NMZ7  COMPLEX:P05556_P56199  [Homo sapiens, Mus musculus]
4  A6NMZ7  COMPLEX:P05556_Q13797  [Homo sapiens, Mus musculus]